<script>
  const alert = () => {
    Swal.fire({
      width: 400,
      position: 'top',
      title: '<strong class="text-secondary text-left"> Please confirm you account </strong>',
      html: '<div class="text-left">You must confirm your account before this action. Please check your email for the confirmation link and click on it.\n</div>',
      confirmButtonText: `Resent confirmation link`,
      confirmButtonColor: '#24A878',
      showCloseButton: true,
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/users/confirmation/new';
      }
    });
  };
</script>