<!--app/views/devise/confirmations/new.html.erb-->
<!--app/views/devise/passwords/edit.html.erb-->
<!--app/views/devise/passwords/new.html.erb-->
<!--app/views/devise/passwords/password_reset.html.erb-->
<!--app/views/devise/registrations/edit.html.erb-->
<!--app/views/devise/registrations/employer_sign_up.html.erb-->
<!--app/views/devise/registrations/freelancer_sign_up.html.erb-->
<!--app/views/devise/registrations/new.html.erb-->
<!--app/views/devise/sessions/new.html.erb-->
<!--app/views/devise/unlocks/new.html.erb-->
<!--app/views/join/index.html.erb == http://localhost:3000/join-->

<% if flash[:alert].present? %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:alert].html_safe %>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice].html_safe %>
  </div>
<% end %>
