<br>
<%= render partial: 'email/content_block', locals: { content: "<h1>Congratulations!</h1>" } %>
<%= render partial: 'email/content_block', locals: { content: "You've been accepted to join Bullpen's talent network of freelance real estate professionals. Get started by logging into your account and applying for jobs." } %>

<% return @user.confirm unless @user.confirmed_at.present? %>
<%= render partial: 'email/button', locals: { button_txt: 'FIND JOBS', url: freelancer_jobs_url } %>
