<p><b>Congratulations!</b> You've been accepted to join Bullpen's talent network of freelance real estate professionals. Get started by logging into your account and applying for jobs.</p>
<%= render partial: 'email/button', locals: { button_txt: 'Find Jobs', url: freelancer_jobs_url } %>
