<p style="text-align:center;">Sorry, the <b><%= @job_application.job.title %></b> position you applied to is no longer available. Go to <a href="<%= employer_jobs_url %>" target="_blank">Find Jobs</a> to look for other jobs.</p>
<%= render partial: 'email/button', locals: { button_txt: 'Find Jobs', url: employer_jobs_url } %>