<nav class="navbar navbar-expand-lg navbar-dark bg-header mb-md-5">
  <div class="container">
    <div class="text-left mt-2 mb-2 ml-md-5">
      <%= link_to image_pack_tag('media/images/bullpen-logo-white.png', size: '95x30'), join_path %>
    </div>
  </div>
</nav>

<div class="row justify-content-center log-in-container">

  <div class="card col-md-5 shadow-sm align-items-center">
    <div class="h1 mt-4 text-secondary text-center">Password Reset Link Sent</div>
    <div class="col-md-10 px-4 py-4">
      <div class="text-center mt-2 mb-4">
        Click the link in your inbox to reset your password.
      </div>

      <div class="text-center mt-5 mb-4">
        <%= image_pack_tag('media/images/email-verify-icon-email.png', class: "mb-4 col-md-5 justify-content-center") %>
      </div>

      <div>
        <%= link_to 'Re-send Email',  new_password_path(resource_name), class: "form-control-lg btn btn-outline-secondary col-md-12" %>
      </div>
    </div>
    <div class="bg-white card-footer text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>