<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4 text-primary">Reset your password</h2>
</div>

<div class="row justify-content-center">

  <div class="card col-md-5 shadow-sm align-items-center">

    <div class="col-md-10 px-4 py-4">
        <h6 class="text-muted text-center mb-4 pb-4">
          Click the link in your inbox to reset your password.
        </h6>
        
        <div class="text-center mt-5 mb-4">
            <%= image_pack_tag('media/images/email-verify-icon-email.png', class: "mb-4 col-md-5 justify-content-center") %>
        </div>
        
        <div>
            <%= link_to 'Re-send Email',  new_password_path(resource_name), class: "form-control-lg btn btn-outline-secondary col-md-12" %>
        </div>
      
    </div>
  </div>
</div>


<%= render "devise/shared/links" %>