<div class="container bg-white my-3 px-3 py-1">
    <div class="display-4 text-secondary border-bottom mb-3 pb-1">Color classes</div>
    <div class="row mx-0">
        <div class="col bg-primary text-white p-3">primary<br/>#29BF89</div>
        <div class="col bg-secondary text-white p-3">secondary<br/>#005495</div>
        <div class="col bg-danger text-white p-3">danger<br/>#FB3640</div>
        <div class="col bg-dark text-white p-3">dark<br/>#4E4E4E</div>
        <div class="col bg-light text-dark p-3">light<br/>#E9ECEF</div>
        <div class="col bg-gray-dark text-white p-3">gray-dark*<br/>#7A7A7A</div>
        <div class="col bg-gray text-dark p-3">gray*<br/>#E4E4E4</div>
        <div class="col bg-blue-light text-dark p-3">blue-light*<br/>#DFECF5</div>
    </div>
    <p><strong>*</strong> These color classes should be used sparingly or not at all.</p>
</div>
<div class="container bg-white my-3 px-3 py-1">
        <div class="display-4 text-secondary border-bottom mb-3 pb-1">Typography</div>
        <div class="row">
            <div class="col"><h1>Page Title</h1><p>Ubuntu<br />Bold 1.75rem<br /><code>&lt;h1&gt;Page Title&lt;/h1&gt;</code></p></div>
            <div class="col"><h2>Popup Title</h2><p>Ubuntu<br />Bold 1.5rem<br /><code>&lt;h2&gt;Popup Title&lt;/h2&gt;</code></p></div>
            <div class="col"><h3>Page Subtitle</h3><p>Nunito Sans<br />SemiBold 1.125rem<br /><code>&lt;h3&gt;Page Subtitle&lt;/h3&gt;</code></p></div>
            <div class="col"><h4>Section Subtitle</h4><p>Nunito Sans<br />SemiBold 1rem<br /><code>&lt;h4&gt;Section Subtitle&lt;/h4&gt;</code></p></div>
            <div class="col"><p>Body</p><p>Nunito Sans<br />Regular 1rem<br /><code>&lt;p&gt;Body&lt;/p&gt;</code></p></div>
        </div>
</div>
<div class="container bg-white my-3 px-3 py-1">
    <div class="display-4 text-secondary border-bottom mb-3 pb-1">Buttons</div>
    <div class="row mb-3">
        <div class="col"><button class="btn btn-primary">Default button</button><br/><code>&lt;button class="btn btn-primary"&gt;Default button&lt;/button&gt;</code></div>
        <div class="col"><button class="btn btn-outline-primary">Secondary button</button><br/><code>&lt;button class="btn btn-outline-primary"&gt;Secondary&lt;/button&gt;</code></div>
    </div>
    <div class="row mb-3">
        <div class="col"><button class="btn btn-primary btn-lg">Large button</button><br/><code>&lt;button class="btn btn-primary btn-lg"&gt;Large button&lt;/button&gt;</code></div>
        <div class="col"><button class="btn btn-outline-primary btn-lg">Large secondary</button><br/><code>&lt;button class="btn btn-outline-primary btn-lg"&gt;Large secondary&lt;/button&gt;</code></div>
    </div>
    <div class="row mb-3">
        <div class="col"><button class="btn btn-link">Link button</button><br/><code>&lt;button class="btn btn-link"&gt;Link button&lt;/button&gt;</code></div>
        <div class="col"><a href="#">Link</a><br/><code>&lt;a href="#"&gt;Link&lt;/a&gt;</code></div>
    </div>
</div>