<div class="mr-auto">
  <%= render partial: 'shared/about_freelancer_short', locals: { freelancer_profile: freelancer_profile,
                                                                 editable: editable } %>
  <div>
    <p class="text-wrap text-break"><%= freelancer_profile.professional_summary %></p>
    <% if job_application.present? || freelancer_profile.desired_hourly_rate.present? %>
      <p class="text-secondary"><b>$<%= job_application.present? ? job_application.bid_amount : freelancer_profile.desired_hourly_rate %> per hour</b></p>
    <% end %>
    <%  freelancer_profile.sectors.order(description: :asc)&.each do |sector| %>
      <span class="badge badge-secondary mb-1"><%= sector.description %></span>
    <% end %>
  </div>
</div>

