<div class="d-flex flex-sm-row flex-column">
  <% if employer_profile.avatar.attached? %>
    <div class="text-light avatar-image" style="line-height: 0;">
      <%= image_tag employer_profile.avatar, class: 'rounded-circle', width: '80px', height: '80px' %>
    </div>
  <% else %>
    <div class="text-light avatar-image" style="font-size: 80px; line-height: 0;">
    <i class="fas fa-user-circle"></i>
    </div>
  <% end %>
  <div class="ml-sm-3 mt-1 align-self-sm-center mt-sm-0">
    <h2 class="mb-1"><%= employer_profile.full_name %></h2>
    <div class="bp-text-sm">
      <%= employer_profile.company_name %><br>
      <%= employer_profile.user.location %>
    </div>
  </div>
</div>
