<hr>
<div class="text-secondary font-weight-bold"> About the Employer </div>
<div class="margin_left_1em">
  <li><%= job.employer_profile&.category %></li>
  <li><%= job.employer_profile&.employee_count %> employees</li>
</div>