<!--Modals:-->
<!--app/views/freelancer/application_flows/_preview_job_application.html.erb-->

<% if freelancer_profile.real_estate_skills.any? %>
    <%= render 'shared/freelancer_real_estate_skills',
               freelancer_profile: freelancer_profile,
               editable: false %>
<% end %>

<% if freelancer_profile.freelancer_profile_experiences.any? %>
    <%= render 'shared/freelancer_profile_experiences',
               freelancer_profile: freelancer_profile,
               editable: false %>
<% end %>

<% if freelancer_profile.freelancer_profile_educations.any? || freelancer_profile.freelancer_certifications.any? %>
    <hr>
<% end %>

<div class="mt-3">
  <% if freelancer_profile.freelancer_profile_educations.any? %>
      <%= render 'shared/freelancer_profile_educations',
                 freelancer_profile: freelancer_profile,
                 editable: false %>
  <% end %>

  <% if freelancer_profile.freelancer_certifications.any? %>
      <%= render 'shared/freelancer_certifications',
                 freelancer_profile: freelancer_profile,
                 editable: false %>
  <% end %>
</div>