<p class="text-wrap text-break"><%= job.short_description %></p>
<% if job.contract_type.present? %>
  <p class="text-wrap text-break text-secondary font-weight-bold">
    <%= "Hourly - #{number_to_currency(job.pay_range_low, precision: 0)}"%><%= job.pay_range_high.present? ? " to #{number_to_currency(job.pay_range_high, precision: 0)}" : '' %> per hour
  </p>
 <% end %>
<% job.job_sectors&.each do |job_sector| %>
  <span class="badge badge-secondary mt-1">
    <%= job_sector&.sector&.description %>
  </span>
<% end %>