<!--app/views/employer/interviews/index.html.erb == http://localhost:3000/employer/interviews-->
<!--app/views/employer/jobs/index.html.erb == http://localhost:3000/employer/jobs-->
<!--app/views/employer/talent/index.html.erb == http://localhost:3000/employer/talent-->
<!--app/views/freelancer/applications/index.html.erb == http://localhost:3000/freelancer/applications-->
<!--app/views/freelancer/contracts/index.html.erb == http://localhost:3000/freelancer/contracts-->
<!--app/views/freelancer/interviews/index.html.erb == http://localhost:3000/freelancer/interviews-->
<!--app/views/freelancer/jobs/index.html.erb == http://localhost:3000/freelancer/jobs-->
<!--app/views/freelancer/profile/index.html.erb == http://localhost:3000/freelancer/profile-->
<!--Modals:-->
<!--app/views/employer_profile_steps/about_company.html.erb-->
<!--app/views/employer_profile_steps/employee_count.html.erb-->
<!--app/views/employer_profile_steps/last_question.html.erb-->
<!--app/views/employer_profile_steps/sectors.html.erb-->
<!--app/views/employer_profile_steps/type_of_work.html.erb-->
<!--app/views/freelancer_profile_steps/avatar_location.html.erb-->
<!--app/views/freelancer_profile_steps/final_step.html.erb-->
<!--app/views/freelancer_profile_steps/professional_history.html.erb-->
<!--app/views/freelancer_profile_steps/skills_page.html.erb-->
<!--app/views/freelancer_profile_steps/summary.html.erb-->
<!--app/views/freelancer_profile_steps/work_education_experience.html.erb-->

<div class="container mb-3">
  <% if flash[:notice].present? || flash[:alert].present? %>
    <div class="alert alert-<%= flash[:alert].present? ? 'warning' : 'success' %> alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert].present? ?  flash[:alert].html_safe : flash[:notice].html_safe %>
    </div>
  <% end %>
</div>