<div class="container mb-3">
  <% if flash[:notice].present? || flash[:alert].present? %>
    <div class="alert alert-<%= flash[:alert].present? ? 'warning' : 'success' %> alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert].present? ?  flash[:alert].html_safe : flash[:notice].html_safe %>
    </div>
  <% end %>
</div>