<!--Modal, Step 2-->
<div class="modal" id="postJobStep2" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="postJobStep2Label">Post a Job</h1>
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <!--Progress bar-->
        <div class="mb-4">
          <div class="progress mb-1">
            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="text-center d-none d-lg-flex">
            <div class="col"><a href="#">Summary</a></div>
            <div class="col text-secondary font-weight-bold">Job Type</div>
            <div class="col text-muted">Qualifications</div>
            <div class="col text-muted">Details</div>
            <div class="col text-muted">Questions</div>
          </div>
          <div class="d-flex justify-content-between d-lg-none">
            <div class="text-secondary font-weight-bold">Job Type</div>
            <div class="text-secondary">2 of 5</div>
          </div>
        </div>
        <!--Form-->
        <%= render partial: 'employer/jobs/forms/job_type_form', locals: { job: job } %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'employer/jobs/job_close', locals: { job: job } %>
