<br>
<%= render partial: 'email/content_block_left', locals: { content: "#{@contract.freelancer_profile.full_name} accepted the <b>#{@contract.title}</b> offer. Track hours and billing on the <a href=#{employer_contracts_url} target='_blank'> Contracts page</a>." } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "<a href=#{} target='_blank'> Click here</a> for frequently asked questions about billing and payments." } %>