<p><b><%= @message.from_user.full_name %></b> sent you a message:</p>
<%= @message.description %>
<p class="text-footer">Reply to this email to communicate directly with <%= @message.from_user.first_name %>.</p>