<%= render partial: 'employer/navigation', locals: { section: 'talent' } %>

<!--Talent card-->
<div class="container mb-3">
  <div class="d-flex align-items-end">
    <h1>Find Talent</h1>
    <span id="filters_selected">
      <% if filters_selected.present? %>
        <%= filters_selected.join(', ') %>
      <% end %>
    </span>
    <button class="btn btn-link ml-auto" type="button" data-toggle="slide-collapse" data-target="#showFindingTalentFilter" aria-expanded="false" >Show Filters <i class="fas fa-filter"></i></button>
  </div>
  <%= render partial: 'employer/talent/talent_filters' %>

  <div id="freelancer_profiles">
    <%= render partial: 'freelancer_profiles' %>
  </div>
</div>
