<nav class="navbar navbar-expand-lg navbar-dark bg-header mb-sm-5">
  <div class="container">
    <div class="text-left ml-md-5">
      <%= image_pack_tag('media/images/bullpen-logo-white.png', size: '95x30') %>
    </div>
    <div class="d-flex align-items-center text-white">
      Have an account? <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary ml-2' %><br /><br />
    </div>
  </div>
</nav>