<!--app/views/devise/registrations/new.html.erb-->
<!--app/views/join/index.html.erb == http://localhost:3000/-->

<nav class="navbar navbar-expand-lg navbar-dark bg-header mb-sm-5">
  <div class="container">
    <div class="text-left ml-md-5">
      <%= image_pack_tag('media/images/bullpen-logo-white.png', size: '95x30') %>
    </div>
    <div class="d-flex align-items-center text-white">
      <% unless user_signed_in? %>
        Have an account? <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary ml-2' %>
      <% end %>
      <br /><br />
    </div>
  </div>
</nav>