<nav class="navbar navbar-expand-lg navbar-dark bg-header mb-sm-5">
  <div class="container">
    <div class="text-left ml-md-5">
      <%= image_pack_tag('media/images/bullpen-logo-white.png', size: '95x30') %>
    </div>
    <%- if devise_mapping.registerable? && controller_name != 'registrations'  && controller_name != 'passwords' %>
      <div class="d-flex align-items-center text-white">
        Need an account? <%= link_to "Sign up", join_path, class: 'btn btn-primary ml-2' %><br /><br />
      </div>
    <% end %>
  </div>
</nav>