<nav class="navbar navbar-expand-lg navbar-dark bg-header mb-4">
  <div class="container">
    <a class="navbar-brand" href="https://bullpenre.com/">
      <%= image_pack_tag('media/images/bullpen-logo-white.png', size: '95x30') %>
    </a>
    <%= render '/nav_bar/avatar_on_nav_bar' %>
  </div>
</nav>
