<%= render partial: 'freelancer/navigation', locals: { section: 'contract' } %>

<!--Contract card-->
<div class="container mb-3">
  <%= render partial: 'notices_and_alerts/notice_and_alert' %>
  <h1>Contracts</h1>
</div>