<%= render partial: 'freelancer/navigation', locals: { section: 'contracts' } %>
<%= render partial: 'shared/notice_and_alert' %>

<!--Contract card-->
<div class="container mb-3">
  <h1>Contracts</h1>
</div>
