<!--app/views/devise/mailer/confirmation_instructions.html.erb-->
<!--app/views/devise/mailer/reset_password_instructions.html.erb-->
<!--app/views/devise/mailer/unlock_instructions.html.erb-->
<!--app/views/employer_mailer/interview_request_declined.html.erb-->
<!--app/views/employer_mailer/new_job_application.html.erb-->
<!--app/views/freelancer_mailer/freelancer_approved.html.erb-->
<!--app/views/freelancer_mailer/interview_request.html.erb-->
<!--app/views/freelancer_mailer/job_application_declined.html.erb-->
<!--app/views/test_mailer/formatting.html.erb-->

<table border="0" cellPadding="0" cellSpacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed" width="100%">
  <tbody>
  <tr>
    <td align="center" class="outer-td" style="padding: 0px 0px 0px 0px">
      <table border="0" cellPadding="0" cellSpacing="0" class="wrapper-mobile" style="text-align:center">
        <tbody>
        <tr>
          <td align="center" bgcolor="#29BF89" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit">
            <a style="background-color:#29BF89; border:1px solid #333333; border-color:#29BF89; border-radius:6px; border-width:1px; color:#ffffff; display:inline-block; font-family:arial,helvetica,sans-serif; font-size:16px; font-weight:normal; letter-spacing:0px; line-height:16px; padding:12px 18px 12px 18px; text-align:center; text-decoration:none" href="<%= url %>" target="_blank"><%= button_txt %></a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>