<!--app/views/devise/mailer/confirmation_instructions.html.erb-->
<!--app/views/devise/mailer/email_changed.html.erb l:2-->
<!--app/views/devise/mailer/email_changed.html.erb l:4-->
<!--app/views/devise/mailer/email_changed.html.erb l:6-->
<!--app/views/devise/mailer/password_change.html.erb l:2-->
<!--app/views/devise/mailer/password_change.html.erb l:3-->
<!--app/views/devise/mailer/reset_password_instructions.html.erb l:2-->
<!--app/views/devise/mailer/reset_password_instructions.html.erb l:3-->
<!--app/views/devise/mailer/unlock_instructions.html.erb l:2-->
<!--app/views/devise/mailer/unlock_instructions.html.erb l:3-->
<!--app/views/devise/mailer/unlock_instructions.html.erb l:4-->
<!--app/views/employer_mailer/interview_request_declined.html.erb l:2-->
<!--app/views/employer_mailer/interview_request_declined.html.erb l:4-->
<!--app/views/employer_mailer/job_application_was_withdrawn.html.erb-->
<!--app/views/employer_mailer/new_job_application.html.erb l:2-->
<!--app/views/employer_mailer/new_job_application.html.erb l:3-->
<!--app/views/employer_mailer/new_job_application.html.erb l:5-->
<!--app/views/employer_mailer/new_job_application.html.erb l:6-->
<!--app/views/employer_mailer/new_job_application.html.erb l:7-->
<!--app/views/freelancer_mailer/freelancer_approved.html.erb l:2-->
<!--app/views/freelancer_mailer/freelancer_approved.html.erb l:3-->
<!--app/views/freelancer_mailer/freelancer_rejected.html.erb l:2-->
<!--app/views/freelancer_mailer/freelancer_rejected.html.erb l:3-->
<!--app/views/freelancer_mailer/freelancer_rejected.html.erb l:4-->
<!--app/views/freelancer_mailer/freelancer_rejected.html.erb l:5-->
<!--app/views/freelancer_mailer/freelancer_rejected.html.erb l:6-->
<!--app/views/freelancer_mailer/interview_request.html.erb-->
<!--app/views/freelancer_mailer/job_application_declined.html.erb l:2-->
<!--app/views/freelancer_mailer/job_application_declined.html.erb l:4-->
<!--app/views/layouts/mailer.html.erb-->
<!--app/views/test_mailer/formatting.html.erb l:2-->
<!--app/views/test_mailer/formatting.html.erb l:3-->
<!--app/views/test_mailer/formatting.html.erb l:7-->

<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding:18px 0px 18px 0px; line-height:22px; text-align: inherit;" height="100%" valign="top" bgcolor="">
      <div style="text-align: center;"><%= content.html_safe %></div>
    </td>
  </tr>
</table>