.field-log-in {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 10%;
  max-width: 80%;
}

.log-in-container {
  max-width: 100%;
}

.send-password-button {
  margin-top: 15%;
  text-align: center;
  width: 80%;
  background-color: gainsboro;
  border: gainsboro;
}