<p>Hello,</p>

<p>Someone (hopefully you!) submitted a request to reset your password. If it wasn't you, please ignore this message. If it was you, you can reset your password at the below link.</p>

<p><%= link_to 'Reset Password Here', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>The Bullpen Team</p>

<p><%= image_pack_tag('media/images/bullpen-email-logo.png') %></p>
