<div class="card-deck mb-4 text-center">

  <div class="card md-2 shadow-sm">
    <p><h1 class="text-secondary">Do you have a job in mind?</h1></p>
    <div class="card-body">
      <%= link_to 'Post a job', {}, class: "btn btn-outline-primary btn-lg" %>
      <p><h5 class="text-left">Tell us about your needs</h5></p>
      <p class="text-left">
        Job description, availability,
        geographic expertise, budget - provide relevant information to your role.
        We'll make sure the right people see it.
      </p>
      <p class="text-right">
        <a href="#">How does it work?</a>
      </p>
    </div>
  </div>

  <div class="card md-2 shadow-sm">
    <p><h1 class="text-secondary">Get to know our network.</h1></p>
    <div class="card-body">
      <%= link_to 'Browse Freelancers', {}, class: "btn btn-outline-primary btn-lg" %>
      <p><h5 class="text-left">View freelancer profiles</h5></p>
      <p class="text-left">
        Search for the exact skills you need and view freelancer profiles.
      </p>
      <br>
      <p class="text-right"> <a href="#">What next?</a></p>
    </div>
  </div>
</div>