<nav class="navbar navbar-light bg-white shadow-sm mb-5">

     <h2> <%= current_user.first_name %>, welcome to Bullpen! </h2>

      <button class="btn btn-primary btn-lg">Post a Job</button>

        <p>Hello, <%= current_user.first_name %><br>
        You are signed in</p>


</nav>
