<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-5">

  <div class="col-sm">
    <h2> <%= current_user.first_name %>, welcome to Bullpen! </h2>
  </div>

  <div class="col-sm-2">
    <button class="btn btn-primary btn-lg">Post a Job</button>
  </div>

  <div class="col-sm-2">
  <%= render 'avatar_on_nav_bar' %>
  </div>
</nav>
