<div class="container">

    <a class="navbar-brand" href="https://bullpenre.com/">
      <%= image_pack_tag('bullpen-logo-white.png', width: 130, height: 40) %>
    </a>

    <div><button class="btn btn-link text-light">Home</button></div>
    <div><button class="btn btn-link text-light">Freelancers</button></div>
    <div><button class="btn btn-link text-light">Jobs</button></div>
    <div><button class="btn btn-link text-light">Contacts</button></div>

</div>

