<div class="align-items-center bg-white border-bottom shadow-sm mb-5">
  <div class="text-left mt-2 mb-2 ml-5">
    <%= image_pack_tag('media/images/bullpen-email-logo.png', size: "175x55") %>
  </div>
</div>

<div>
  This page on development
</div>