<div class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div id="sidebar" class="col-md-2 sidebar bg-secondary">
      <%= render 'sidebar' %>
    </div>

    <div id="main_body" class="col">
      <div class="row">
        <div class="col">
        <%= render 'nav_bar' %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-11 align-self-center">
        <%= render 'cards' %>
        </div>
      </div>

    </div>
  </div>
</div>
