<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="mail/styles.css">
  </head>

  <body bgcolor="#E9ECEF">
  <table role="presentation" bgcolor="#E9ECEF" border="0" cellpadding="0" cellspacing="0" width="100%" valign="top" style="table-layout:fixed; min-width:320px; width:100%;">
    <tbody> 
      <tr> 
        <td bgcolor="#E9ECEF" valign="top">
          <div class="content-panel">
            <%= image_pack_tag('bullpen-email-logo.png', class: 'logo') %>

            <%= yield %>
  
          </div>
          <p class="text-footer" style="margin:40px 0">Need help? Contact <a href="mailto:support@bullpenre.com">support@bullpenre.com</a> to speak with one of our team members.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </body>
</html>
