<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="mail/styles.css">
  </head>

  <body>
    <%= image_pack_tag('bullpen-email-logo.png', class: 'logo') %>

    <%= yield %>

    <%= render partial: 'email/content_block', locals: { content: 'Need help? Contact support@bullpenre.com to speak with one of our team members.' } %>
  </body>
</html>
